
.cbm_wrap{
	width: 140px;
	height: 280px;
    padding: 12px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    background: -webkit-radial-gradient(center, circle, #f0f0f0, #99f8f9);
    background: -moz-radial-gradient(center, circle, #f0f0f0, #99f8f9);
	color:
}
.cbm_wrap img {
    width: 100%;
    margin-top: 15px;
}
.cbm_wrap p{ 
    margin-top: 15px !important;
    text-align: justify !important;
}
.cbm_wrap h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.cbm_wrap a{
    text-decoration: none;
    color: #4A4A4A !important;
}
.cbm_wrap a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
​