body{
	margin:0;
	padding:0;
}
td {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: rgb(60, 85, 128);
}
input, select, option {
	font-family: Arial;
	font-size: 12px;
	border-width: 1px;
	border-style: inset solid solid inset;
}
.description{
    font-weight: normal;
    color: hsla(0,0%,31%,1.00);
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Questrial', sans-serif;
	margin-bottom:1px;
}
#main{
	width:100%;
	height:100%;
}
#packet{
	margin:0;
	height:100%;
	width:180px;
	float:left;
}
#params{
	margin:0;
	height:100%;
	width:400px;
	float:left;
}
#encapsulation{
	margin:0;
	height:100%;
	width:430px;
	float:left;
}
#before{
	margin:0px 10px 10px 10px;
	padding: 5px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
#aad{
	margin:30px auto auto 200px;
	padding:10px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	width:760px;
	height:100px;
}
#nonce{
	margin:30px auto auto 200px;
	padding:10px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	height:100px;
	width:400px;
}
#send, #input-aad, #input-nonce, #input-key, #input-pn, #ctr, #cbc-mac{
background: #e3e3e3;
border: 1px solid #bbb;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
box-shadow: inset 0 0 1px 1px #f6f6f6;
color: #333;
font: bold 13px/1 "helvetica neue", helvetica, arial, sans-serif;
padding: auto 0 9px;
text-align: center;
text-shadow: 0 1px 0 #fff;
width: 120px;
height:25px;
margin-top:20px;
margin-bottom:3px;
float:right;
}
#fc, #a1, #a2, #a3, #sc, #dur/id, #a4, #qos, #ht{ 
height: 100px; 
padding: 0.5em; 
float: left;
position:relative;
cursor:move;
}
#wait_fc, #wait_a1, #wait_a2, #wait_a3, #wait_sc, #wait_a4, #wait_qos{
border: 1px solid #777777;
height: 10px; 
padding: 0.5em; 
float: left;
height:15px;
width:90px;
}
.dropped{
	background-color:hsla(107,100%,74%,1.00);
	padding:0 auto;
}
#show_fc, #show_a1, #show_a2, #show_a3, #show_sc, #show_a4, #show_qos{
	border: 1px solid #777777;
	margin:0 auto;
	display:none;
	padding: 0.5em; 
	float: left;
	height:18px;
	font-family: 'Questrial', sans-serif;
    font-size: 12px;
	font-weight:bold;
}