body{
	margin:0;
	padding:0;
	font-family: 'Hammersmith One';
	font-family: 'Questrial', sans-serif;
}
td{
    font-family: Courier;
    font-size: 12px;
    color: rgb(60, 85, 128);
	font-weight: bold;
}
#header{
	height:32px;
    top: 0;
    left: 0;
    width: 100%;
	position:fixed;
	z-index:1;
}
input, select, option{
	font-size: 12px;
	font-family: 'Hammersmith One';
	font-family: 'Questrial', sans-serif;
    line-height: 15px;
	border-width: 1px;
	border-style: inset solid solid inset;
}
#encapsulation{
	margin:0;
	width:1345px;
	height:605px;
}
#decapsulation{
	display:none;
	margin:0;
	width:1340px;
	height:630px;
}
.header{
    font-weight: bold;
    color: hsla(0,0%,14%,1.00);
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
    font-size: 18px;
    line-height: 5px;
    font-family: 'Questrial', sans-serif;
	margin:10px auto;
	width:210px;
}
.description{
    font-weight: normal;
    color: hsla(0,0%,31%,1.00);
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Questrial', sans-serif;
	margin:10px auto;
	text-align:justify;
	width:1000px;
}
#e-iv, #e-key{
	width:205px;
	margin-top:20px;
	margin-left:20px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right:8px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
#e-params{
	width:230px;
	margin:8px auto auto 30px;
	padding-top:8px;
	padding-left:8px;
	padding-bottom:15px;
	float:left;
}
#e-middle{
	width:230px;
	margin:30px auto;
	height:400px;
	float:left;
}
#todec{
	margin-top:10px;
	float:right;
}
#e-plaintext{
	width:145px;
	margin-top:50px;
	margin-left:32px;
	padding-top:8px;
	padding-left:15px;
	padding-bottom:8px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
#e-prng{
	margin:-30px auto auto 90px;
	padding-top:18px;
	padding-bottom:15px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	width:150px;
	height:50px;
	float:left;
}
#e-checksum{
	margin:110px auto;
	padding-top:8px;
	padding-bottom:5px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	width:200px;
	height:80px;
	float:left;
}
.glass{
	margin:0px;
	padding:0;
	border:1px solid rgba(0,0,0,0.5);
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	}
#e-conc{
	margin:50px 20px auto 30px;
	height:30px;
	width:30px;
	float:left;
}
#e-encryption{
	margin:80px auto 20px 100px;
	padding-top:110px;
	padding-bottom:15px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	width:150px;
	height:170px;
	float:left;
}
#e-packet{
	margin:10px auto auto 70px;
	width:250px;
	float:left;
}
#text, #crc, #gen, #wep, #next, crc32_dec{
background: #e3e3e3;
border: 1px solid #bbb;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
box-shadow: inset 0 0 1px 1px #f6f6f6;
color: #333;
font: bold 13px/1 "helvetica neue", helvetica, arial, sans-serif;
padding: auto 0 9px;
text-align: center;
text-shadow: 0 1px 0 #fff;
width: 130px;
height:25px;
margin-top:5px;
margin-bottom:5px;
}
#e-ciphertext{
	background:  rgba(241,239,239,1.00);
	height:193px;
	background-image:url(../../../images/fon.jpg);
}
#icv{
	margin-top:5px;
	background:  rgba(241,239,239,1.00);
	background-image:url(../../../images/fon.jpg);
}
#arrow-iv-packet{
	width:1px;
	height:1px;
	margin:14px 100.5px 43px auto;
	background-color:hsla(0,0%,0%,1.00);
}
#before{
	margin-top:70px;
	margin-left:55px;
	width:200px;
	float:left;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.process{
	margin-top:15px;
}
#vector{
	display:none;
	width:60px;
	height:10px;
}
#after{
	display:inline-block;
	margin-top:50px;
	margin-left:235px;
	width:220px;
	background:hsla(0,0%,91%,0.30);
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.checksumm{
	width:65px;
	display:none;
	margin:0 auto;
	padding:0 auto;
}