div.page-divider {
        background: #000000;
}

/* added property to match Eltex colors */
a:link, a:visited {
	color: #08C;
}

/* style for the header cells with child header below. */
/* added color attribute to match Broadcom colors */
td.section-header-super, tr.section-header-super {
	background-color: #C3C3C3;
}

/* style for the header cells */
/* added color attribute to match Broadcom colors */
td.section-header, tr.section-header {
	background-color: #C3C3C3;
}

/* style for odd numbered rows */
/* added color attribute to match Eltex colors */
tr.oddtablerow {
	background-color: #DDDDDD;
}

.default-box {
	background: transparent;
}

/* collapsable panel decoration */
.drop-box-shade {
	background-image: url(drop_shade.gif);
}

/* changed background #acb2c0 to match Eltex colors */
.page-help {
	background: #DDDDDD;
}

/* changed background #acb2c0 to match Eltex colors */
.page-title {
	background: #DDDDDD;
	color: #000000;
}

/* override navigation.css */
/* changed background #C90016 to match Eltex colors */
.tab1 {
	background: #08C;
	color: #FFFFFF;
}

/* override navigation.css */
.tab1-selected {
	font-weight: normal;
}

/* override navigation.css */
/* changed background #C90016 to match Eltex colors */
/* .tab2 {
	background: #08C;
	color: #ffffff;
}